<html xmlns = "https:www.w3.org//1999/xhtml" lang="es"xmlns: lang= "es">
  
  <head>
    <title>practica submodulo2</title>
    </head>
    
    <body>
     Alert (Hola mundo)
      
      </body>
      
      </html>
